<section class="lrv-u-border-t-1 lrv-u-padding-t-050 lrv-u-border-color-brand-secondary lrv-u-margin-t-2 lrv-u-display-block">
	<div class="lrv-a-grid a-cols-content">
		<header class="a-cols-content-header">
			<h3 class="lrv-u-text-transform-uppercase lrv-u-color-grey lrv-u-font-size-16">{{title}}</h3>
		</header>
		<div class="">
			{% if data.posters != [] %}
				<h4>Peer-Reviewed Conference and Journal</h4>
			{% endif %}
			<ol class="lrv-a-unstyle-list">
				{% for item in data.peerReviewed %}
					<li>
						<p class="lrv-u-margin-t-00">{{item.cite|raw}} <br/><em>{{item.status}}</em></p>
					</li>
				{% endfor %}
			</ol>
			{% if data.posters != [] %}
				<h4>Short Papers/Posters</h4>
				<ol class="lrv-a-space-children-vertical lrv-a-space-children--1 lrv-u-width-100p lrv-u-margin-r-1">
					{% for item in data.posters %}
						<li>
							<p>{{item.cite|raw}}</p>
						</li>
					{% endfor %}
				</ol>
			{% endif %}
		</div>
	</div>
</section>