
<!doctype html>
<html lang="en" class="wf-active">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>LRVA: notlaura | project | cv</title>

		<link rel="stylesheet" href="/assets/build/tokens/notlaura.custom-properties.css">
		<link rel="stylesheet" href="/assets/build/css/larva.css">
		<link rel="stylesheet" href="/assets/build/css/larva-ui.css">

			<style>
		:root {
			--system-ui: -apple-system,system-ui,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif;
			--color-brand-primary: #15598f;
			--border-color-brand-primary: #15598f;
			--font-family-basic: var(--system-ui);
			--font-family-primary-fancy: var(--system-ui);
			--font-family-secondary-fancy: var(--system-ui);
			--site-max-width: 850px;
		}
		
		@media(min-width: 700px) {
			.a-cols-content {
				grid-template-columns: 200px 1fr;
			}
		}
	</style>

		<script>
			// Stub in PMC cookie object so fonts load on Larva server
			if ( ! window.pmc ) {
				window.pmc = {
					cookie: {
						get: () => {},
						set: () => {},
						expire: () => {},
					}
				};
			}

			// Stub skins object
			
		</script>

	</head>
	<body class="lrv-u-margin-a-00">

		<main class="lrv-u-flex">
			<div class="lrv-u-padding-a-1 lrv-a-glue-parent lrv-u-flex js-LarvaUiToggle-panel">
					
<nav style="width: 200px">
	<h3 class="lrv-u-padding-r-1">Larva</h3>

			<ul class="lrv-a-unstyle-list">
			<li><a class="lrv-u-display-block" href="/">Home</a></li>
			<li><a class="lrv-u-display-block" href="/larva/css">Larva CSS Docs</a></li>
			<li><a class="lrv-u-display-block" href="/larva/style-guide">Style Guide</a></li>
		</ul>
	
	
		<h4 class="lrv-u-padding-tb-050">__tests__</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<a href="/larva/__tests__/css/">css</a>
									</li>
							<li>
					
											<a href="/larva/__tests__/profile/">profile</a>
									</li>
							<li>
					
											<a href="/larva/__tests__/profile-index/">profile-index</a>
									</li>
							<li>
					
											<a href="/larva/__tests__/vlanding/">vlanding</a>
									</li>
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">_data</h4>

		<ul class="lrv-a-unstyle-list">
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">_templates</h4>

		<ul class="lrv-a-unstyle-list">
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">algorithms</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<a href="/larva/algorithms/a-icon/">a-icon</a>
									</li>
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">components</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<details>
							<summary>c-button</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-button/black"
			>
	black
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-button/brand-basic"
			>
	brand-basic
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-button/ghost"
			>
	ghost
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-button/"
			>
	prototype
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-button/stripped"
			>
	stripped
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/components/c-checkbox-input/">c-checkbox-input</a>
									</li>
							<li>
					
											<a href="/larva/components/c-dek/">c-dek</a>
									</li>
							<li>
					
											<details>
							<summary>c-email-field</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-email-field/ghost"
			>
	ghost
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-email-field/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/components/c-figcaption/">c-figcaption</a>
									</li>
							<li>
					
											<a href="/larva/components/c-heading/">c-heading</a>
									</li>
							<li>
					
											<a href="/larva/components/c-hidden-field/">c-hidden-field</a>
									</li>
							<li>
					
											<details>
							<summary>c-icon</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-icon/full"
			>
	full
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/components/c-icon/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/components/c-label/">c-label</a>
									</li>
							<li>
					
											<a href="/larva/components/c-lazy-image/">c-lazy-image</a>
									</li>
							<li>
					
											<a href="/larva/components/c-link/">c-link</a>
									</li>
							<li>
					
											<a href="/larva/components/c-logo/">c-logo</a>
									</li>
							<li>
					
											<a href="/larva/components/c-nav-link/">c-nav-link</a>
									</li>
							<li>
					
											<a href="/larva/components/c-play-badge/">c-play-badge</a>
									</li>
							<li>
					
											<a href="/larva/components/c-select-option/">c-select-option</a>
									</li>
							<li>
					
											<a href="/larva/components/c-span/">c-span</a>
									</li>
							<li>
					
											<a href="/larva/components/c-tagline/">c-tagline</a>
									</li>
							<li>
					
											<a href="/larva/components/c-timestamp/">c-timestamp</a>
									</li>
							<li>
					
											<a href="/larva/components/c-title/">c-title</a>
									</li>
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">modules</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<a href="/larva/modules/article-tags/">article-tags</a>
									</li>
							<li>
					
											<a href="/larva/modules/back-to-list/">back-to-list</a>
									</li>
							<li>
					
											<a href="/larva/modules/badge/">badge</a>
									</li>
							<li>
					
											<a href="/larva/modules/breadcrumbs/">breadcrumbs</a>
									</li>
							<li>
					
											<a href="/larva/modules/button/">button</a>
									</li>
							<li>
					
											<a href="/larva/modules/footer/">footer</a>
									</li>
							<li>
					
											<a href="/larva/modules/footer-menus/">footer-menus</a>
									</li>
							<li>
					
											<a href="/larva/modules/footer-newsletter/">footer-newsletter</a>
									</li>
							<li>
					
											<a href="/larva/modules/footer-social/">footer-social</a>
									</li>
							<li>
					
											<a href="/larva/modules/footer-tip/">footer-tip</a>
									</li>
							<li>
					
											<details>
							<summary>heading</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/heading/h1"
			>
	h1
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/heading/h2"
			>
	h2
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/heading/h3"
			>
	h3
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/heading/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<details>
							<summary>list</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/list/ordered"
			>
	ordered
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/list/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/modules/listicle-item/">listicle-item</a>
									</li>
							<li>
					
											<details>
							<summary>more-stories-button</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/more-stories-button/profile"
			>
	profile
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/more-stories-button/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/modules/newsletter-cta/">newsletter-cta</a>
									</li>
							<li>
					
											<a href="/larva/modules/newswire/">newswire</a>
									</li>
							<li>
					
											<a href="/larva/modules/paragraph/">paragraph</a>
									</li>
							<li>
					
											<a href="/larva/modules/pmc-footer/">pmc-footer</a>
									</li>
							<li>
					
											<a href="/larva/modules/post-content-image/">post-content-image</a>
									</li>
							<li>
					
											<details>
							<summary>profile-blurb</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/profile-blurb/card"
			>
	card
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/profile-blurb/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/modules/profile-body/">profile-body</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-browse-by/">profile-browse-by</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-card-list/">profile-card-list</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-filter/">profile-filter</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-gallery/">profile-gallery</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-header/">profile-header</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-highlights/">profile-highlights</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-landing-header/">profile-landing-header</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-landing-river/">profile-landing-river</a>
									</li>
							<li>
					
											<a href="/larva/modules/profile-related-stories/">profile-related-stories</a>
									</li>
							<li>
					
											<a href="/larva/modules/separator/">separator</a>
									</li>
							<li>
					
											<a href="/larva/modules/social-share/">social-share</a>
									</li>
							<li>
					
											<details>
							<summary>story</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/story/"
			>
	prototype
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/modules/story/story-arc"
			>
	story-arc
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/modules/story-arc-stories/">story-arc-stories</a>
									</li>
							<li>
					
											<a href="/larva/modules/vlanding-playlist/">vlanding-playlist</a>
									</li>
							<li>
					
											<a href="/larva/modules/vlanding-video-card/">vlanding-video-card</a>
									</li>
							<li>
					
											<a href="/larva/modules/vlanding-video-showcase/">vlanding-video-showcase</a>
									</li>
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">objects</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<a href="/larva/objects/o-card/">o-card</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-card-list/">o-card-list</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-checkbox-input-list/">o-checkbox-input-list</a>
									</li>
							<li>
					
											<details>
							<summary>o-collection-item</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-collection-item/floated"
			>
	floated
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-collection-item/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<details>
							<summary>o-email-capture-form</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-email-capture-form/minimal"
			>
	minimal
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-email-capture-form/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/objects/o-figure/">o-figure</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-header/">o-header</a>
									</li>
							<li>
					
											<details>
							<summary>o-icon-button</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-icon-button/"
			>
	prototype
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-icon-button/search"
			>
	search
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/objects/o-indicator/">o-indicator</a>
									</li>
							<li>
					
											<details>
							<summary>o-nav</summary>
							<ul>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-nav/horizontal"
			>
	horizontal
</a>
									</li>
																										<li>
										<a class="c-link  lrv-u-display-block" href="/larva/objects/o-nav/"
			>
	prototype
</a>
									</li>
															</ul>
						</details>
									</li>
							<li>
					
											<a href="/larva/objects/o-select-nav/">o-select-nav</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-social-list/">o-social-list</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-span-group/">o-span-group</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-sponsored-by/">o-sponsored-by</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-story-arc-item/">o-story-arc-item</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-tease/">o-tease</a>
									</li>
							<li>
					
											<a href="/larva/objects/o-tease-list/">o-tease-list</a>
									</li>
					</ul>

	
		<h4 class="lrv-u-padding-tb-050">style-guide</h4>

		<ul class="lrv-a-unstyle-list">
					</ul>

	
</nav>										
<nav style="width: 200px">
	<h3 class="lrv-u-padding-r-1">Project</h3>

	
	
		<h4 class="lrv-u-padding-tb-050">templates</h4>

		<ul class="lrv-a-unstyle-list">
							<li>
					
											<a href="/project/templates/cv/">cv</a>
									</li>
					</ul>

	
</nav>							</div>
			<div class="lrv-u-flex-grow-1">
								
	
	<header class="lrv-u-background-color-grey-light lrv-u-padding-a-1  js-LarvaUiToggle-panel">
		<h1 class="lrv-u-font-family-basic lrv-u-margin-a-00">project templates: <code>cv</code></h1>
		<div class="lrv-u-flex lrv-u-align-items-center lrv-a-space-children-horizontal lrv-a-space-children--1">
			<h2>Available Variants</h2>
															
				<a href="/project/templates/cv/" class="lrv-u-padding-a-050 ">prototype</a>
					</div>
	</header>

			<div class="lrv-a-wrapper lrv-a-space-children-vertical lrv-a-space-children--1">

	<header class="lrv-u-border-b-1 lrv-u-border-color-brand-primary lrv-u-padding-b-1">
		<div class="lrv-u-flex lrv-u-align-items-center">
			<img class="lrv-u-width-200 lrv-u-margin-r-1" src="https://notlaura.com/wp-content/uploads/2020/07/lara-with-monster.jpg" alt="">
			<div>
				<h1>Lara Schenck</h1>
				<em>Doctoral Candidate</em>
				<p class="lrv-u-margin-tb-050">Industry professional looking to make side research projects her career and fulfill her personal legend.</p>
				<p class="lrv-u-margin-tb-00">https://notlaura.com</p>
			</div>
		</div>
		<div class="lrv-a-grid lrv-a-cols3 lrv-u-align-items-center">
			<p>
				134 S. Graham St. #1<br>
				Pittsburgh, PA 15206
			</p>
			<ul class="lrv-a-unstyle-list">
				<li>(724) 244-2491</li>
				<li>lara@notlaura.com</li>
				<li></li>
			</ul>
			<ul class="lrv-a-unstyle-list lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--050">
									<li><a href="http://twitter.com/laras126">Twitter</a></li>
									<li><a href="http://github.com/laras126">Github</a></li>
									<li><a href="http://codepen.io/laras126">CodePen</a></li>
							</ul>
		</div>
	</header>

	<section class="lrv-a-grid a-cols-content">
		<header>
			<h3>Research</h3>
		</header>
		<ul class="lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1">
							<li>
					<div class="lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1">
						<h4>CSS Algorithms</h4>
						<em>2017 - present</em>
					</div>
					
					<p>CSS is a programming language. What does it look like to program algorithms in CSS?</p>
					
											<a href="#">Article: Is CSS Turing Complete?</a>,
											<a href="#">CSS Is A Declarative, Domain-Specific Programming Language</a>,
											<a href="#">Writing CSS Algorithms</a>,
											<a href="#">Conference Speaking</a>,
									</li>
					</ul>
	</section>
	
	<section class="lrv-a-grid a-cols-content">
		<header>
			<h3>Experience</h3>
		</header>
		<ul class="lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1">
							<li>
					<div class="lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1">
						<h4>Senior Software Engineer</h4>
						<h4>Penske Media Corporation</h4>
						<em>June 2018 - present</em>
					</div>
					
					<p>Full stack development on enterprise WordPress websites.</p>
					
					<ul>
													<li>Built design system</li>
													<li>Improved culture</li>
											</ul>
				</li>
					</ul>
	</section>
	
	<section class="lrv-a-grid a-cols-content">
		<header>
			<h3>Volunteer</h3>
		</header>
		<ul class="lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1">
							<li>
					<div class="lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1">
						<h4>Open Source Contributor</h4>
						<h4>WordPress Core</h4>
						<em>2019 - present</em>
					</div>
					
					<p>Description...</p>
					
					<ul>
													<li>Lead weekly meetings on Core CSS</li>
													<li>Devise and oversee long term projects</li>
													<li>Contribute code to WordPress Core</li>
											</ul>
				</li>
							<li>
					<div class="lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1">
						<h4>Volunteer</h4>
						<h4>What&#039;s Up Pittsburgh</h4>
						<em>2019 - present</em>
					</div>
					
					<p>Description...</p>
					
					<ul>
													<li>Led session on racial justice in tech</li>
													<li>Participated in core organizing group</li>
													<li>Advise on website</li>
											</ul>
				</li>
							<li>
					<div class="lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1">
						<h4>Volunteer</h4>
						<h4>Center for Artistic Activism</h4>
						<em>2012-01-01 - 2013-01-01</em>
					</div>
					
					<p>Description...</p>
					
					<ul>
													<li>Redesigned website and implemented donation platform</li>
											</ul>
				</li>
					</ul>
	</section>
</div>	
	<div class="lrv-u-background-color-grey-light lrv-a-grid lrv-u-font-size-12 lrv-u-border-t-1 lrv-u-border-color-grey lrv-u-padding-a-2 js-LarvaUiToggle-panel">
		<details>
			<summary class="lrv-u-font-size-24 lrv-u-cursor-pointer"><code>cv</code> README</summary>
			<div class="lrv-u-padding-a-1 lrv-u-background-color-white lrv-u-font-size-16">
				<p><strong>This needs docs!</strong> <br>Create a README.md in the pattern&#39;s directory and add details about using this pattern in markdown.</p>

			</div>
		</details>
		<details>
							<summary class="lrv-u-font-size-24 lrv-u-cursor-pointer"><code>cv</code> Twig <small class="lrv-u-font-size-16">The markup file.</small></summary>
			
			<pre class="lrv-a-wrapper language-twig"><code>&lt;div class=&quot;lrv-a-wrapper lrv-a-space-children-vertical lrv-a-space-children--1&quot;&gt;

	&lt;header class=&quot;lrv-u-border-b-1 lrv-u-border-color-brand-primary lrv-u-padding-b-1&quot;&gt;
		&lt;div class=&quot;lrv-u-flex lrv-u-align-items-center&quot;&gt;
			&lt;img class=&quot;lrv-u-width-200 lrv-u-margin-r-1&quot; src=&quot;{{data.basics.picture}}&quot; alt=&quot;&quot;&gt;
			&lt;div&gt;
				&lt;h1&gt;{{ data.basics.name }}&lt;/h1&gt;
				&lt;em&gt;{{ data.basics.label }}&lt;/em&gt;
				&lt;p class=&quot;lrv-u-margin-tb-050&quot;&gt;{{ data.basics.summary }}&lt;/p&gt;
				&lt;p class=&quot;lrv-u-margin-tb-00&quot;&gt;{{ data.basics.website }}&lt;/p&gt;
			&lt;/div&gt;
		&lt;/div&gt;
		&lt;div class=&quot;lrv-a-grid lrv-a-cols3 lrv-u-align-items-center&quot;&gt;
			&lt;p&gt;
				{{data.basics.location.address}}&lt;br&gt;
				{{data.basics.location.city}}, {{data.basics.location.postalCode}}
			&lt;/p&gt;
			&lt;ul class=&quot;lrv-a-unstyle-list&quot;&gt;
				&lt;li&gt;{{data.basics.phone}}&lt;/li&gt;
				&lt;li&gt;{{ data.basics.email }}&lt;/li&gt;
				&lt;li&gt;{{ data.basics.address }}&lt;/li&gt;
			&lt;/ul&gt;
			&lt;ul class=&quot;lrv-a-unstyle-list lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--050&quot;&gt;
				{% for profile in data.basics.profiles %}
					&lt;li&gt;&lt;a href=&quot;{{profile.url}}&quot;&gt;{{ profile.network }}&lt;/a&gt;&lt;/li&gt;
				{% endfor %}
			&lt;/ul&gt;
		&lt;/div&gt;
	&lt;/header&gt;

	&lt;section class=&quot;lrv-a-grid a-cols-content&quot;&gt;
		&lt;header&gt;
			&lt;h3&gt;Research&lt;/h3&gt;
		&lt;/header&gt;
		&lt;ul class=&quot;lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1&quot;&gt;
			{% for project in data.research %}
				&lt;li&gt;
					&lt;div class=&quot;lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1&quot;&gt;
						&lt;h4&gt;{{project.title}}&lt;/h4&gt;
						&lt;em&gt;{{project.startDate}} - {{project.endDate}}&lt;/em&gt;
					&lt;/div&gt;
					
					&lt;p&gt;{{project.description}}&lt;/p&gt;
					
					{% for link in project.links %}
						&lt;a href=&quot;{{link.url}}&quot;&gt;{{ link.name }}&lt;/a&gt;,
					{% endfor %}
				&lt;/li&gt;
			{% endfor %}
		&lt;/ul&gt;
	&lt;/section&gt;
	
	&lt;section class=&quot;lrv-a-grid a-cols-content&quot;&gt;
		&lt;header&gt;
			&lt;h3&gt;Experience&lt;/h3&gt;
		&lt;/header&gt;
		&lt;ul class=&quot;lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1&quot;&gt;
			{% for item in data.work %}
				&lt;li&gt;
					&lt;div class=&quot;lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1&quot;&gt;
						&lt;h4&gt;{{item.position}}&lt;/h4&gt;
						&lt;h4&gt;{{item.company}}&lt;/h4&gt;
						&lt;em&gt;{{item.startDate}} - {{item.endDate}}&lt;/em&gt;
					&lt;/div&gt;
					
					&lt;p&gt;{{item.summary}}&lt;/p&gt;
					
					&lt;ul&gt;
						{% for highlight in item.highlights %}
							&lt;li&gt;{{highlight}}&lt;/li&gt;
						{% endfor %}
					&lt;/ul&gt;
				&lt;/li&gt;
			{% endfor %}
		&lt;/ul&gt;
	&lt;/section&gt;
	
	&lt;section class=&quot;lrv-a-grid a-cols-content&quot;&gt;
		&lt;header&gt;
			&lt;h3&gt;Volunteer&lt;/h3&gt;
		&lt;/header&gt;
		&lt;ul class=&quot;lrv-a-unstyle-list lrv-a-space-children-vertical lrv-a-space-children--1&quot;&gt;
			{% for item in data.volunteer %}
				&lt;li&gt;
					&lt;div class=&quot;lrv-u-flex lrv-a-space-children-horizontal lrv-a-space-children--1&quot;&gt;
						&lt;h4&gt;{{item.position}}&lt;/h4&gt;
						&lt;h4&gt;{{item.organization}}&lt;/h4&gt;
						&lt;em&gt;{{item.startDate}} - {{item.endDate}}&lt;/em&gt;
					&lt;/div&gt;
					
					&lt;p&gt;{{item.summary}}&lt;/p&gt;
					
					&lt;ul&gt;
						{% for highlight in item.highlights %}
							&lt;li&gt;{{highlight}}&lt;/li&gt;
						{% endfor %}
					&lt;/ul&gt;
				&lt;/li&gt;
			{% endfor %}
		&lt;/ul&gt;
	&lt;/section&gt;
&lt;/div&gt;</code></pre>
		</details>

					<details>
				<summary class="lrv-u-font-size-24 lrv-u-cursor-pointer"><code>cv</code> JSON <small class="lrv-u-font-size-16">The data object for this pattern.</small></summary>
				<pre class="lrv-a-wrapper language-json"><code>{
	"data": {
		"basics": {
			"name": "Lara Schenck",
			"label": "Doctoral Candidate",
			"picture": "https://notlaura.com/wp-content/uploads/2020/07/lara-with-monster.jpg",
			"email": "lara@notlaura.com",
			"phone": "(724) 244-2491",
			"website": "https://notlaura.com",
			"summary": "Industry professional looking to make side research projects her career and fulfill her personal legend.",
			"location": {
				"address": "134 S. Graham St. #1",
				"postalCode": "PA 15206",
				"city": "Pittsburgh",
				"countryCode": "US",
				"region": "Pennsylvania"
			},
			"profiles": [
				{
					"network": "Twitter",
					"username": "laras126",
					"url": "http://twitter.com/laras126"
				},
				{
					"network": "Github",
					"username": "laras126",
					"url": "http://github.com/laras126"
				},
				{
					"network": "CodePen",
					"username": "laras126",
					"url": "http://codepen.io/laras126"
				}
			]
		},
		"work": [
			{
				"company": "Penske Media Corporation",
				"position": "Senior Software Engineer",
				"website": "http://company.com",
				"startDate": "June 2018",
				"endDate": "present",
				"summary": "Full stack development on enterprise WordPress websites.",
				"highlights": [
					"Built design system",
					"Improved culture"
				]
			}
		],
		"research": [
			{
				"title": "CSS Algorithms",
				"startDate": "2017",
				"endDate": "present",
				"description": "CSS is a programming language. What does it look like to program algorithms in CSS?",
				"links": [
					{
						"name": "Article: Is CSS Turing Complete?",
						"url": "#"
					},
					{
						"name": "CSS Is A Declarative, Domain-Specific Programming Language",
						"url": "#"
					},
					{
						"name": "Writing CSS Algorithms",
						"url": "#"
					},
					{
						"name": "Conference Speaking",
						"url": "#"
					}
				]
			}
		],
		"volunteer": [
			{
				"organization": "WordPress Core",
				"position": "Open Source Contributor",
				"website": "https://whatsuppgh.org/",
				"startDate": "2019",
				"endDate": "present",
				"summary": "Description...",
				"highlights": [
					"Lead weekly meetings on Core CSS",
					"Devise and oversee long term projects",
					"Contribute code to WordPress Core"
				]
			},
			{
				"organization": "What's Up Pittsburgh",
				"position": "Volunteer",
				"website": "https://whatsuppgh.org/",
				"startDate": "2019",
				"endDate": "present",
				"summary": "Description...",
				"highlights": [
					"Led session on racial justice in tech",
					"Participated in core organizing group",
					"Advise on website"
				]
			},
			{
				"organization": "Center for Artistic Activism",
				"position": "Volunteer",
				"website": "http://c4aa.org/",
				"startDate": "2012-01-01",
				"endDate": "2013-01-01",
				"summary": "Description...",
				"highlights": [
					"Redesigned website and implemented donation platform"
				]
			}
		],
		"education": [
			{
				"institution": "School of the Museum of Fine Arts at Tufts University",
				"area": "Fine Arts",
				"studyType": "Bachelor",
				"startDate": "2007",
				"endDate": "2011"
			}
		],
		"skills": [
			{
				"name": "Programming",
				"keywords": [
					"CSS",
					"HTML",
					"JavaScript",
					"PHP",
					"Python",
					"Standard ML"
				]
			},
			{
				"name": "Frameworks",
				"keywords": [
					"React",
					"WordPress"
				]
			}
		],
		"languages": [
			{
				"language": "English",
				"fluency": "Native speaker"
			},
			{
				"language": "Spanish",
				"fluency": "Intermediate"
			}
		],
		"interests": [
			{
				"name": "Running",
				"keywords": [
					"Ferrets",
					"Unicorns"
				]
			}
		],
		"references": [
			{
				"name": "Felienne Hermans",
				"reference": "Reference..."
			},
			{
				"name": "Aaron Jorbin",
				"reference": "Reference..."
			},
			{
				"name": "Andre Jacobs",
				"reference": "Reference..."
			}
		]
	}
}</code></pre>
			</details>
		
			</div>
			</div>
		</main>
		<br>

				<div style="position: fixed;
					bottom: 0;
					right: 0;
					z-index: 9999999;">
				<button class="c-button larva  js-LarvaUiToggle-button lrv-a-unstyle-button lrv-u-background-color-black lrv-u-color-white lrv-u-padding-a-1 lrv-u-cursor-pointer" type="">

	<span class="c-button__inner ">
		Toggle Larva UI
	</span>

	
	</button>
		</div>

		<script src="/assets/public/webfontloader.js"></script>
		<script src="/assets/build/js/larva-ui.js"></script>
		<script src="/assets/build/js/common.js"></script>

			</body>
</html>
